@use "../abstracts";
.articles-section {
    img {
        width: 100%;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Default: Three equal columns */
        gap: 10px; /* Space between grid items */
        margin: 10px;

        @media (max-width: map-get(abstracts.$breakpoints, "bigger-medium")) {
            & {
                grid-template-columns: 1fr; /* One column layout */
            }
        }
    }

    &__article {
        &--bigger {
            grid-column: 2 / 4;
        }

        @media (max-width: map-get(abstracts.$breakpoints, "bigger-medium")) {
            & {
                grid-column: 1 / -1;
            }
        }
    }
}
