@use "../abstracts";
.section {
    padding-block: abstracts.$section-block-padding;
}

.section-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    &:has(p) {
        gap: 20px;
    }

    @media (min-width: map-get(abstracts.$breakpoints, "medium")) {
        margin-bottom: 60px;
    }
}
