@use '../abstracts';
@use './fonts';

body {
  color: abstracts.$text-color;
  font-family: fonts.$main-font, #{abstracts.$text-font-stack};
}

.typography-body {
  font-size: abstracts.$paragraph-size;
  color: rgba(abstracts.$text-color, 0.7);
}

.section-heading {
  font-size: abstracts.$section-heading-size;
}
