@use "../abstracts";
@use "./fonts";
body {
  color: abstracts.$text-color;
  font-family:
    fonts.$main-font,
    #{abstracts.$text-font-stack};
}

.typography-body {
  font-size: abstracts.$paragraph-size;
}

.section-heading {
  font-size: abstracts.$section-heading-size;
}
@media (max-width: map-get(abstracts.$breakpoints, "medium")) {
  .section-heading {
    font-size: calc(abstracts.$section-heading-size - 10px);
  }
}
